<nav class="navbar navbar-dark navbar-expand-lg p-3 bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Quizz App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            routerLink="./home"
            routerLinkActive="active text-dark"
            class="nav-link color px-2 rounded"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            routerLink="./questions"
            routerLinkActive="active text-dark"
            class="nav-link px-2 color rounded"
            >Questions</a
          >
        </li>
        <li *ngIf="authService.roleMatch('admin')" class="nav-item">
          <a
            routerLink="./create"
            routerLinkActive="active text-dark"
            class="nav-link color px-2 rounded"
            >Create Question</a
          >
        </li>
        <li *ngIf="authService.roleMatch('admin')" class="nav-item">
          <a
            routerLink="/users"
            routerLinkActive="active text-dark"
            class="nav-link color px-2 rounded"
            >Users</a
          >
        </li>
      </ul>

      <ul *ngIf="!authService.logged(); else logOut" class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            routerLink="./login"
            routerLinkActive="active text-dark"
            class="nav-link btn btn-outline-light me-2"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="./register"
            routerLinkActive="active text-dark"
            class="nav-link btn btn-outline-light me-2"
          >
            Register
          </a>
        </li>
      </ul>
      <ng-template #logOut>
        <a
          type="button"
          routerLink="./login"
          routerLinkActive="active text-dark"
          class="nav-link color btn btn-outline-light me-2 ms-auto"
          (click)="authService.logOut()"
        >
          LogOut
        </a>
      </ng-template>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
<!-- -->
